body {
    background-color: #000;
    font-family: Arial, Verdana;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    padding: 15px;
    font-size: 42px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 250px;
    /* All images are centered */
    border: 10px dashed white;
}

div{
    height: 125px;
    padding: 20px;
    border: 3px solid white;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2.0;
}

/*Background color is hexadecimal value for red
Text is aligned on the right side 
A left margin of 50px;
A  border of 2px on the bottom and 5px on the left; */

.red{
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

/*Background color is hex value for blue
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top; */

.blue{
    background-color: blue;
    text-align:left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

.blue p{
    color: #C4C4C4;
}

.blue h2{
    color: #C4C4C4;
}

/*Background color is hexadecimal value for yellow 
Text is aligned on the right side
A left margin of 50px;
A border of 2px on the bottom and 5px on the left;
WAVE YOUR PAGE!!!!  Uh oh.  Let's fix the color contrast here  too
Use #707070 for the paragraph text
*/

.yellow{
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

.yellow p{
    color: #707070 ;
}

/*The background color is a hexadecimal value for green  (You must use #00EB00, #008500, or #00D800)
Text is aligned on the left side
A right margin of 50px;
A  border of 5px on the right and 2px on the top;
*/

.green {
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

footer {
    background: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid #ffffff;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
